html{
   
    background: url("https://i.pinimg.com/originals/02/48/48/024848206647c337dea8f666ab1a1550.gif");
    background-repeat: no-repeat;
    width: 100%;
    background-size: 100%;
}
body{
    text-align: center;
}