.row{   
    background-color:black;
    color:white;
    font-size:20px;
    display: flex;
    justify-content: space-around;
}
.headshot{
    width:20%;
   
}
h1 span{
    background-color: black;
    padding: 15px;
}
.mid{
    background:url("https://images-na.ssl-images-amazon.com/images/I/91h4HLD9slL._SX425_.jpg");
    color: white;
    align-items:center;
    font-size:40px;
    font-family: 'Press Start 2P', cursive;
    margin-top:5px;
    margin-bottom:5px;
}
.aboutme{
    border:1px solid black;   
}